.main-chat
  .main-chat__group-info
    .main-chat__group-info__left-box
      .main-chat__group-info__left-box__current-group
        techcamp
      .main-chat__group-info__left-box__members-list
        Member :
        .main-chat__group-info__left-box__members-list__member
          fumiya
    .main-chat__group-info__edit-btn
      Edit
  .main-chat__message-list
  .main-chat__message-form