.war-main-chat__group-info
  .war-main-chat__group-info__left-box
    .war-main-chat__group-info__left-box__current-group
      CHARACTER'S WAR
  .war-main-chat__group-info__right-box
    .war-main-chat__group-info__right-box__btn
      = link_to war_user_teams_path(current_user) do
        .war-main-chat__group-info__right-box__btn_chat
          WAR
    .war-main-chat__group-info__right-box__btn
      = link_to users_path do
        .war-main-chat__group-info__right-box__btn_chat
          RANK
    .war-main-chat__group-info__right-box__btn
      = link_to root_path do
        .war-main-chat__group-info__right-box__btn_chat
          Chat